# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Web Files
*.html
*.css

# lcov Files
*.info
*.gcda
*.gcno

# Directories
stage/
*_html_lcov

# Qt Files
*.pro.user
*.stash

